
.navbar-personal{
    background-color: #4169E1			;
}


.card{
    height: 60vh;
}


.card1{
    margin-left: 33rem;
    margin-top: 5rem;
    
}

body{
    background-image: url(../media/sky.jpg);
    background-size: cover;
}

.botonregister{
    color: white;
    text-decoration: none;
}

.botonregister:hover{
    color: white;
}








@media screen and (max-width: 980px)  {

    /* .col{
        display: flex;
        justify-content: center;
        flex-direction: column;

    } */

    .row{
        display: flex;
        flex-direction: column;
    }
    .col{
        display: flex;
        justify-content: center;
    }
}

